<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/foodApp</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">ali1234@</property>

        <property name="hibernate.hikari.minimumIdle">5</property>
        <property name="hibernate.hikari.maximumPoolSize">20</property>
        <property name="hibernate.hikari.idleTimeout">30000</property>
        <property name="hibernate.hikari.connectionTimeout">30000</property>
        <property name="hibernate.hikari.poolName">FoodAppHikariPool</property>

        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <property name="hbm2ddl.auto">update</property>

        <mapping class="com.foodApp.model.User"/>
        <mapping class="com.foodApp.model.Restaurant"/>
        <mapping class="com.foodApp.model.MenuItem"/>
        <mapping class="com.foodApp.model.Order"/>
        <mapping class="com.foodApp.model.OrderItem"/>
        <mapping class="com.foodApp.model.Category"/>
        <mapping class="com.foodApp.model.Delivery"/>
        <mapping class="com.foodApp.model.TransactionModel"/>
        <mapping class="com.foodApp.model.Coupon"/>

    </session-factory>
</hibernate-configuration>